#paper {
  width: 100%;
  transform: scale(0.5);
}

/* .abcjs-note {
  fill: black; 
}

.abcjs-note.highlighted {
  fill: red; 
} */

/* .abcjs-rest
.abcjs-rest.highlighted */

/* .abcjs-p0,
.abcjs-p1,
.abcjs-p2,
.abcjs-p3,
.abcjs-p4,
.abcjs-p5,
.abcjs-p6,
.abcjs-p7,
.abcjs-p8,
.abcjs-p9 {
  fill: red !important;
} */
